.page-wrapper {
  margin: 0 auto;
  width: 1300px;

  table {
    border-collapse: collapse;
    margin: 0 auto;

    th {
      text-align: left;
      background-color: #efefef;
      border-bottom: solid 1px #999;
      margin-right: 10px;

      &:first-of-type {
        width: 50px;
      }

      &.table-header-rank {
        width: 20px;
      }
      &.table-header-name {
        width: 140px;
      }
      &.table-header-symbol {
        width: 10px;
      }
      &.table-header-price {
        width: 100px;
      }
      &.table-header-price_btc {
      }
      &.table-header-percent_change_1h {
      }
      &.table-header-percent_change_24h {
      }
      &.table-header-percent_change_7d {
      }
      &.table-header-last_updated {
      }
      &.table-header-24h_volume_usd {
        width: 30px;
      }
      &.table-header-market_cap_usdice {
      }
      &.table-header-available_supply {
      }
      &.table-header-total_supply {
      }
    }

    td {
      padding: 10px;

      span {
        &.negative {
          color: #c13c27;
        }
        &.positive {
          color: #0b0;
        }
      }
    }
  }
}
